<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/wwwroot/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/wwwroot/lib/bootstrap/dist/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="~/wwwroot/css/site.css" />
    <link rel="stylesheet" href="~/wwwroot/css/tabla.css" />
    <link rel="stylesheet" href="~/wwwroot/css/jquery.fancybox.css" />
    <link rel="stylesheet" href="~/wwwroot/icons/style.css" />
    <link href="~/wwwroot/css/DataTables/css/autoFill.bootstrap.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/autoFill.bootstrap.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/autoFill.bootstrap4.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/autoFill.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/autoFill.dataTables.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/autoFill.dataTables.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/autoFill.foundation.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/autoFill.foundation.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/autoFill.jqueryui.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/autoFill.jqueryui.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/autoFill.semanticui.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/autoFill.semanticui.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/buttons.bootstrap.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/buttons.bootstrap.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/buttons.bootstrap4.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/buttons.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/buttons.dataTables.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/buttons.dataTables.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/buttons.foundation.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/buttons.foundation.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/buttons.jqueryui.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/buttons.jqueryui.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/buttons.semanticui.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/buttons.semanticui.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/colReorder.bootstrap.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/colReorder.bootstrap.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/colReorder.bootstrap4.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/colReorder.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/colReorder.dataTables.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/colReorder.dataTables.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/colReorder.foundation.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/colReorder.foundation.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/colReorder.jqueryui.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/colReorder.jqueryui.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/colReorder.semanticui.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/colReorder.semanticui.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/dataTables.bootstrap4.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/dataTables.foundation.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/dataTables.foundation.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/dataTables.jqueryui.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/dataTables.jqueryui.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/dataTables.material.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/dataTables.material.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/dataTables.semanticui.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/dataTables.semanticui.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/dataTables.uikit.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/dataTables.uikit.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/fixedColumns.bootstrap.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/fixedColumns.bootstrap.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/fixedColumns.bootstrap4.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/fixedColumns.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/fixedColumns.dataTables.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/fixedColumns.dataTables.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/fixedColumns.foundation.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/fixedColumns.foundation.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/fixedColumns.jqueryui.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/fixedColumns.jqueryui.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/fixedColumns.semanticui.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/fixedColumns.semanticui.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/fixedHeader.bootstrap.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/fixedHeader.bootstrap.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/fixedHeader.bootstrap4.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/fixedHeader.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/fixedHeader.dataTables.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/fixedHeader.dataTables.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/fixedHeader.foundation.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/fixedHeader.foundation.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/fixedHeader.jqueryui.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/fixedHeader.jqueryui.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/fixedHeader.semanticui.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/fixedHeader.semanticui.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/jquery.dataTables_themeroller.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/keyTable.bootstrap.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/keyTable.bootstrap.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/keyTable.bootstrap4.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/keyTable.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/keyTable.dataTables.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/keyTable.dataTables.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/keyTable.foundation.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/keyTable.foundation.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/keyTable.jqueryui.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/keyTable.jqueryui.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/keyTable.semanticui.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/keyTable.semanticui.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/responsive.bootstrap.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/responsive.bootstrap.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/responsive.bootstrap4.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/responsive.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/responsive.dataTables.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/responsive.dataTables.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/responsive.foundation.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/responsive.foundation.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/responsive.jqueryui.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/responsive.jqueryui.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/responsive.semanticui.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/responsive.semanticui.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/rowGroup.bootstrap.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/rowGroup.bootstrap.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/rowGroup.bootstrap4.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/rowGroup.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/rowGroup.dataTables.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/rowGroup.dataTables.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/rowGroup.foundation.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/rowGroup.foundation.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/rowGroup.jqueryui.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/rowGroup.jqueryui.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/rowGroup.semanticui.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/rowGroup.semanticui.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/rowReorder.bootstrap.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/rowReorder.bootstrap.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/rowReorder.bootstrap4.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/rowReorder.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/rowReorder.dataTables.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/rowReorder.dataTables.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/rowReorder.foundation.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/rowReorder.foundation.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/rowReorder.jqueryui.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/rowReorder.jqueryui.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/rowReorder.semanticui.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/rowReorder.semanticui.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/scroller.bootstrap.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/scroller.bootstrap.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/scroller.bootstrap4.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/scroller.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/scroller.dataTables.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/scroller.dataTables.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/scroller.foundation.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/scroller.foundation.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/scroller.jqueryui.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/scroller.jqueryui.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/scroller.semanticui.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/scroller.semanticui.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/select.bootstrap.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/select.bootstrap.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/select.bootstrap4.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/select.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/select.dataTables.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/select.dataTables.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/select.foundation.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/select.foundation.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/select.jqueryui.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/select.jqueryui.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/select.semanticui.css" rel="stylesheet" />
    <link href="~/wwwroot/css/DataTables/css/select.semanticui.min.css" rel="stylesheet" />
</head>
<body>
    <partial name="_CookieConsentPartial" />

    <div class="body-content">
        @RenderBody()
        <footer>
            <hr />
            <div class="pie">
                <a href="~/Home/Privacy">Politica de Privacidad</a>
            </div>
        </footer>
    </div>
    <script src="~/wwwroot/lib/jquery/dist/jquery.js"></script>
    <script src="~/wwwroot/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/wwwroot/js/site.js"></script>
    <script src="~/wwwroot/js/jquery.fancybox.js"></script>
    <script src="~/wwwroot/js/tabla.js"></script>
    <script src="~/wwwroot/js/DataTables/autoFill.bootstrap.js"></script>
    <script src="~/wwwroot/js/DataTables/autoFill.bootstrap.min.js"></script>
    <script src="~/wwwroot/js/DataTables/autoFill.bootstrap4.js"></script>
    <script src="~/wwwroot/js/DataTables/autoFill.bootstrap4.min.js"></script>
    <script src="~/wwwroot/js/DataTables/autoFill.foundation.js"></script>
    <script src="~/wwwroot/js/DataTables/autoFill.foundation.min.js"></script>
    <script src="~/wwwroot/js/DataTables/autoFill.jqueryui.js"></script>
    <script src="~/wwwroot/js/DataTables/autoFill.jqueryui.min.js"></script>
    <script src="~/wwwroot/js/DataTables/autoFill.semanticui.js"></script>
    <script src="~/wwwroot/js/DataTables/autoFill.semanticui.min.js"></script>
    <script src="~/wwwroot/js/DataTables/buttons.bootstrap.js"></script>
    <script src="~/wwwroot/js/DataTables/buttons.bootstrap.min.js"></script>
    <script src="~/wwwroot/js/DataTables/buttons.bootstrap4.js"></script>
    <script src="~/wwwroot/js/DataTables/buttons.bootstrap4.min.js"></script>
    <script src="~/wwwroot/js/DataTables/buttons.colVis.js"></script>
    <script src="~/wwwroot/js/DataTables/buttons.colVis.min.js"></script>
    <script src="~/wwwroot/js/DataTables/buttons.flash.js"></script>
    <script src="~/wwwroot/js/DataTables/buttons.flash.min.js"></script>
    <script src="~/wwwroot/js/DataTables/buttons.foundation.js"></script>
    <script src="~/wwwroot/js/DataTables/buttons.foundation.min.js"></script>
    <script src="~/wwwroot/js/DataTables/buttons.html5.js"></script>
    <script src="~/wwwroot/js/DataTables/buttons.html5.min.js"></script>
    <script src="~/wwwroot/js/DataTables/buttons.jqueryui.js"></script>
    <script src="~/wwwroot/js/DataTables/buttons.jqueryui.min.js"></script>
    <script src="~/wwwroot/js/DataTables/buttons.print.js"></script>
    <script src="~/wwwroot/js/DataTables/buttons.print.min.js"></script>
    <script src="~/wwwroot/js/DataTables/buttons.semanticui.js"></script>
    <script src="~/wwwroot/js/DataTables/buttons.semanticui.min.js"></script>
    <script src="~/wwwroot/js/DataTables/dataTables.autoFill.js"></script>
    <script src="~/wwwroot/js/DataTables/dataTables.autoFill.min.js"></script>
    <script src="~/wwwroot/js/DataTables/dataTables.bootstrap.js"></script>
    <script src="~/wwwroot/js/DataTables/dataTables.bootstrap.min.js"></script>
    <script src="~/wwwroot/js/DataTables/dataTables.bootstrap4.js"></script>
    <script src="~/wwwroot/js/DataTables/dataTables.bootstrap4.min.js"></script>
    <script src="~/wwwroot/js/DataTables/dataTables.buttons.js"></script>
    <script src="~/wwwroot/js/DataTables/dataTables.buttons.min.js"></script>
    <script src="~/wwwroot/js/DataTables/dataTables.colReorder.js"></script>
    <script src="~/wwwroot/js/DataTables/dataTables.colReorder.min.js"></script>
    <script src="~/wwwroot/js/DataTables/dataTables.fixedColumns.js"></script>
    <script src="~/wwwroot/js/DataTables/dataTables.fixedColumns.min.js"></script>
    <script src="~/wwwroot/js/DataTables/dataTables.fixedHeader.js"></script>
    <script src="~/wwwroot/js/DataTables/dataTables.fixedHeader.min.js"></script>
    <script src="~/wwwroot/js/DataTables/dataTables.foundation.js"></script>
    <script src="~/wwwroot/js/DataTables/dataTables.foundation.min.js"></script>
    <script src="~/wwwroot/js/DataTables/dataTables.jqueryui.js"></script>
    <script src="~/wwwroot/js/DataTables/dataTables.jqueryui.min.js"></script>
    <script src="~/wwwroot/js/DataTables/dataTables.keyTable.js"></script>
    <script src="~/wwwroot/js/DataTables/dataTables.keyTable.min.js"></script>
    <script src="~/wwwroot/js/DataTables/dataTables.material.js"></script>
    <script src="~/wwwroot/js/DataTables/dataTables.material.min.js"></script>
    <script src="~/wwwroot/js/DataTables/dataTables.responsive.js"></script>
    <script src="~/wwwroot/js/DataTables/dataTables.responsive.min.js"></script>
    <script src="~/wwwroot/js/DataTables/dataTables.rowGroup.js"></script>
    <script src="~/wwwroot/js/DataTables/dataTables.rowGroup.min.js"></script>
    <script src="~/wwwroot/js/DataTables/dataTables.rowReorder.js"></script>
    <script src="~/wwwroot/js/DataTables/dataTables.rowReorder.min.js"></script>
    <script src="~/wwwroot/js/DataTables/dataTables.scroller.js"></script>
    <script src="~/wwwroot/js/DataTables/dataTables.scroller.min.js"></script>
    <script src="~/wwwroot/js/DataTables/dataTables.select.js"></script>
    <script src="~/wwwroot/js/DataTables/dataTables.select.min.js"></script>
    <script src="~/wwwroot/js/DataTables/dataTables.semanticui.js"></script>
    <script src="~/wwwroot/js/DataTables/dataTables.semanticui.min.js"></script>
    <script src="~/wwwroot/js/DataTables/dataTables.uikit.js"></script>
    <script src="~/wwwroot/js/DataTables/dataTables.uikit.min.js"></script>
    <script src="~/wwwroot/js/DataTables/jquery.dataTables.js"></script>
    <script src="~/wwwroot/js/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/wwwroot/js/DataTables/responsive.bootstrap.js"></script>
    <script src="~/wwwroot/js/DataTables/responsive.bootstrap.min.js"></script>
    <script src="~/wwwroot/js/DataTables/responsive.bootstrap4.js"></script>
    <script src="~/wwwroot/js/DataTables/responsive.bootstrap4.min.js"></script>
    <script src="~/wwwroot/js/DataTables/responsive.foundation.js"></script>
    <script src="~/wwwroot/js/DataTables/responsive.foundation.min.js"></script>
    <script src="~/wwwroot/js/DataTables/responsive.jqueryui.js"></script>
    <script src="~/wwwroot/js/DataTables/responsive.jqueryui.min.js"></script>
    <script src="~/wwwroot/js/DataTables/responsive.semanticui.js"></script>
    <script src="~/wwwroot/js/DataTables/responsive.semanticui.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
