
@{
    ViewData["Title"] = "Usuarios";
}
<div class="row">
    <div class="col-md-10 seccion">
        <h1>Usuarios</h1>
    </div>
    <div class="col-md-2 seccion_boton">
        <a class="btn btn-success fancybox fancybox.ajax" asp-controller="Usuarios" asp-action="Crear"><span class="icon-plus-square"></span> Crear</a>
    </div>

    <table class="table table-hover">
        <thead class="thead-info">
            <tr>
                <th>Columna 1</th>
                <th>Columna 2</th>
                <th class="link"></th>
                <th class="link"></th>
                <th class="link"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Valor 1</td>
                <td>Valor 2</td>
                <td class="link">
                    <a class="fancybox fancybox.ajax" asp-controller="Usuarios" asp-action="Ver"><span class="icon-eye"></span></a>
                </td>
                <td class="link">
                    <a class="fancybox fancybox.ajax" asp-controller="Usuarios" asp-action="Editar"><span class="icon-edit"></span></a>
                </td>
                <td class="link">
                    <a class="fancybox fancybox.ajax" asp-controller="Usuarios" asp-action="Bloquear"><span class="icon-lock"></span></a>
                </td>
            </tr>
            <tr>
                <td>Valor 5</td>
                <td>Valor 1</td>
                <td>Valor 8</td>
                <td>Valor 2</td>
                <td>3</td>
            </tr>
            <tr>
                <td>Valor 3</td>
                <td>Valor 4</td>
                <td>Valor 9</td>
                <td>Valor 1</td>
                <td>11</td>
            </tr>
        </tbody>
    </table>
</div>

@section Scripts
{ 
    <script>
        $(document).ready(function () {
            $(".fancybox").fancybox({
                prevEffect: 'none',
                nextEffect: 'none',
                helpers: {
                    title: {
                        type: 'outside'
                    },
                    thumbs: {
                        width: 50,
                        height: 25
                    }
                }
            });
        });
    </script>
}

