
@{
    ViewData["Title"] = "Ver";
    Layout = "./../Shared/_LayoutVacio.cshtml";
}
<div class="seccion-dark">
    <h1>Información de usuario</h1>
</div>
<div id="principal">
    <div class="campos campos_dos_kai">
        <div class="campos_ultimos">
            <label>Nombre completo:</label>
        </div>
        <div class="campos_ultimos">
            <div class="campo-ver p-2">
                AMERICA BERENICE MONSALVO FUENTES
            </div>
        </div>
    </div>
    <div class="campos campos_dos_kai">
        <div class="campos_ultimos">
            <label>Email:</label>
        </div>
        <div class="campos_ultimos">
            <div class="campo-ver p-2">
                amonsalvof@eutelsat.com
            </div>
        </div>
    </div>
    <div class="campos campos_dos_kai">
        <div class="campos_ultimos">
            <label>Extensión:</label>
        </div>
        <div class="campos_ultimos">
            <div class="campo-ver p-2">
                222
            </div>
        </div>
    </div>
    <div class="campos campos_dos_kai">
        <div class="campos_ultimos">
            <label>Roles:</label>
        </div>
        <div class="campos campos_dos">
            <div class="campos_ultimos">
                <div class="campo-ver p-2">
                    Admin
                </div>
            </div>
        </div>
    </div>
    <div class="campos campos_dos_kai">
        <div class="campos_ultimos"></div>
        <div class="campos campos_dos">
            <div class="campos_ultimos">
                <div class="campo-ver p-2">
                    Super Admin
                </div>
            </div>
        </div>
    </div>
</div>

