@{
    ViewData["Title"] = "Acerca de nosotros";
}
<h2>@ViewData["Title"]</h2>
@section Scripts
{
    <script>
        $(document).ready(function () {
            load('none');
        });
    </script>
}