@{
    ViewData["Title"] = "Acerca de nosotros";
}
    <div class="text-center">
        <h2>Trabajo Terminal</h2><br />
        <h4>2019-A071</h4><br />
        <i>
            Sistema Web para apoyar la gestión de controles de cambio en las aplicaciones y servicios, utilizadas en el manejo de la información, para la gerencia de TI
        </i><br /><br />
        <b>Elaborado por</b><br />
        <span>Hernández Falcón Enrique</span><br />
        <span>Monsalvo Fuentes América Berenice</span><br /><br />
        <b>Directores</b><br />
        <span>M. en D. Elba Mendoza Macias</span><br />
        <span>M. en C. José Asunción Enríquez Zarate</span><br /><br />
        <a class="nosotros-link" href="~/Home/Index">Conoce el sistema</a>
    </div>
@section Scripts
{
    <script>
        $(document).ready(function () {
            load('none');
        });
    </script>
}