@{
    ViewData["Title"] = "Inicio";
}
    <div class="row">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a id="Link1" class="nav-link active" href="#" onclick="tabs('1','seccion-activa', 'active')">Tus CC</a>
            </li>
            <li class="nav-item">
                <a id="Link2" class="nav-link inactivo" href="#" onclick="tabs('2','seccion-activa', 'active')">CC Ejecución</a>
            </li>
            <li class="nav-item">
                <a id="Link3" class="nav-link inactivo" href="#" onclick="tabs('3','seccion-activa', 'active')">CC Revisión</a>
            </li>
        </ul>
        <div id="Seccion1" class="col-md-12 seccion-activa">
            <div class="col-md-12 seccion_contenedor">
                <div class="seccion">
                    <h1>Tus controles de cambio</h1>
                </div>
                <div class="seccion_boton">
                    <a class="btn btn-success" href="~/ControlCambio/Crear"><span class="icon-plus-square"></span> Crear</a>
                </div>
            </div>
            <table class="table table-hover">
                <thead class="thead-info">
                    <tr>
                        <th>Clave</th>
                        <th>Fecha-Ejecución</th>
                        <th>Estado</th>
                        <th class="link"></th>
                        <th class="link"></th>
                        <th class="link"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Valor 1</td>
                        <td>Valor 2</td>
                        <td>Valor 2</td>
                        <td class="link texto">
                            <a href="#">Revisar</a>
                        </td>
                        <td class="link">
                            <a asp-controller="ControlCambio" asp-action="Ver"><span class="icon-eye"></span></a>
                        </td>
                        <td class="link">
                            <a asp-controller="ControlCambio" asp-action="Editar"><span class="icon-edit"></span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="Seccion2" class="col-md-12 seccion-inactiva">
            <div class="col-md-12 seccion">
                <h1>Controles de cambio en ejecución</h1>
            </div>
            <table class="table table-hover">
                <thead class="thead-info">
                    <tr>
                        <th scope="col">Clave</th>
                        <th scope="col">Creador</th>
                        <th scope="col">Estado</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Valor 1</td>
                        <td>Valor 2</td>
                        <td>Valor 2</td>
                        <td class="link texto">
                            <a class="fancybox fancybox.ajax" asp-controller="ControlCambio" asp-action="Cerrar">Cerrar</a>
                        </td>
                        <td class="link">
                            <a asp-controller="ControlCambio" asp-action="Ver"><span class="icon-eye"></span></a>
                        </td>
                        <td class="link">
                            <a asp-controller="ControlCambio" asp-action="Editar"><span class="icon-edit"></span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="Seccion3" class="col-md-12 seccion-inactiva">
            <div class="col-md-12 seccion">
                <h1>Controles de cambio a revisar</h1>
            </div>
            <table class="table table-hover">
                <thead class="thead-info">
                    <tr>
                        <th scope="col">Clave</th>
                        <th scope="col">Creador</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var cc in ViewBag.Revision_CC as IEnumerable<SistemaCC.Models.ControlCambio>)
                    {
                        <tr>
                            <td></td>
                            <td>@cc.Usuario.Nombre @cc.Usuario.ApePaterno</td>
                            <td class="link texto">
                                <a href="~/ControlCambio/Revisar?id=@cc.Id_CC">Revisar</a>
                            </td>
                            <td class="link">
                                <a href="~/ControlCambio/Ver?id=@cc.Id_CC"><span class="icon-eye"></span></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
@section Scripts
{
            <script>
                $(document).ready(function () {
                    $(".fancybox").fancybox({
                        prevEffect: 'none',
                        nextEffect: 'none',
                        helpers: {
                            title: {
                                type: 'outside'
                            },
                            thumbs: {
                                width: 50,
                                height: 25
                            }
                        }
                    });
                });
            </script>
        }
