@{
    ViewData["Title"] = "Inicio";
}
    <div class="row">
        <div class="col-md-10 seccion">
            <h1>Tus controles de cambio</h1>
        </div>
        <div class="col-md-2 seccion_boton">
            <a class="btn btn-success" asp-controller="ControlCambio" asp-action="Crear"><span class="icon-plus-square"></span> Crear</a>
        </div>
        <table class="table table-hover">
            <thead class="thead-info">
                <tr>
                    <th>Clave</th>
                    <th>Fecha-Ejecución</th>
                    <th>Estado</th>
                    <th class="link"></th>
                    <th class="link"></th>
                    <th class="link"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Valor 1</td>
                    <td>Valor 2</td>
                    <td>Valor 2</td>
                    <td class="link texto">
                        <a href="#">Revisar</a>
                    </td>
                    <td class="link">
                        <a asp-controller="ControlCambio" asp-action="Ver"><span class="icon-eye"></span></a>
                    </td>
                    <td class="link">
                        <a asp-controller="ControlCambio" asp-action="Editar"><span class="icon-edit"></span></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="col-md-12 seccion">
            <h1>Controles de cambio en ejecución</h1>
        </div>
        <table class="table table-hover">
            <thead class="thead-info">
                <tr>
                    <th scope="col">Clave</th>
                    <th scope="col">Creador</th>
                    <th scope="col">Estado</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Valor 1</td>
                    <td>Valor 2</td>
                    <td>Valor 2</td>
                    <td class="link texto">
                        <a class="fancybox fancybox.ajax" asp-controller="ControlCambio" asp-action="Cerrar">Cerrar</a>
                    </td>
                    <td class="link">
                        <a asp-controller="ControlCambio" asp-action="Ver"><span class="icon-eye"></span></a>
                    </td>
                    <td class="link">
                        <a asp-controller="ControlCambio" asp-action="Editar"><span class="icon-edit"></span></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="col-md-12 seccion">
            <h1>Controles de cambio a revisar</h1>
        </div>
        <table class="table table-hover">
            <thead class="thead-info">
                <tr>
                    <th scope="col">Clave</th>
                    <th scope="col">Creador</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Valor 1</td>
                    <td>Valor 2</td>
                    <td class="link texto">
                        <a href="#">Revisar</a>
                    </td>
                    <td class="link">
                        <a asp-controller="ControlCambio" asp-action="Ver"><span class="icon-eye"></span></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
@section Scripts
{
    <script>
        $(document).ready(function () {
            $(".fancybox").fancybox({
                prevEffect: 'none',
                nextEffect: 'none',
                helpers: {
                    title: {
                        type: 'outside'
                    },
                    thumbs: {
                        width: 50,
                        height: 25
                    }
                }
            });
        });
    </script>
}