/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%
}
/*Seccion es para lo titulos, botones de crear y el div que une a ambos*/
div.seccion {
    padding-left: 0px;
    margin-bottom: 20px !important;
    border-bottom: solid 1px #efefef;
}
div.seccion-dark {
    padding-left: 0px;
    margin-bottom: 20px !important;
    border-bottom: solid 1px #cfcfcf;
}
div.seccion_boton{
    text-align: right;
}
div.seccion_boton > a {
    color: white !important;
    font-size: larger;
}
div.seccion_contenedor {
    display: grid;
    grid-template-columns: 80% 20%;
    padding: 0px;
}
/*Para las notificaciones y la dropdownnlist del sitio*/
a.link-dark {
    color: white !important;
}
a:hover.link-dark {
    background: #343a40 !important;
    text-decoration: underline;
}
/*Pie del sitio*/
div.pie {
    text-align: center;
}
div.pie > a {
    color: #afafaf;
}
/*Extra estilo para el collapse tenga el color adecuado*/
.btn-collapse {
    color: #3c3c3c !important;
    text-decoration: none;
    font-size: large;
}
.btn-collapse:hover {
    text-decoration: underline;
}
/*Evita que se vea el borde en el btn del collapse*/
.btn-collapse:focus, .btn-collapse.focus {
    box-shadow: none;
}
/*Para el uso de las tabs, es necesario ocultar y mostrar los div de agrupamiento*/
div.seccion-activa {
    display: block !important;
}
div.seccion-inactiva {
    display: none !important;
}
/*Inactivo es una clase para cambiar el color del link de la lista ul usando como base lo que bootstrap ya tiene*/
a.inactivo {
    color: #9972cb !important;
}
a:hover.inactivo {
    text-decoration: underline;
}
/*Estilo para crear campos dinamicos*/

/*Clases para formularios y para que la información esté en mayusculas*/
.mayusculas {
    text-transform:uppercase !important;
}
.campos {
    display: grid;
    margin-bottom: 15px;
}
.campos > div.campos_ultimos {
    padding-left: 7px;
    padding-right: 7px;
}
.campos > div.campos_submit {
   text-align: center;
}
.campos > .campos {
    margin-bottom: 0px !important;
}
.campos_dos {
    grid-template-columns: 50% 50%;
}
.campos_dos_kai {
    grid-template-columns: 30% 70%;
}
.campos_tres {
    grid-template-columns: 33% 34% 33%;
}
.campos_ultimos > div.quitar {
    text-align: right;
}
.campos_ultimos > label {
    font-weight: bold;
    padding-top: 7px;
}
.campos_ultimos > label.normal {
    font-weight: normal !important;
    padding-top: 7px;
}
.campos_ultimos > input{
    margin-bottom: 1% !important;
}
/* clases para los check personalizados*/
.container {
    display: block;
    position: relative;
    padding: 0px 7px 0px 35px !important;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: normal !important;
}
/* oculta el check del navegador*/
    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
/*El check creado por nosotros */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
}
.container:hover input ~ .checkmark {
    background-color: #ccc;
}
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.container input:checked ~ .checkmark:after {
    display: block;
}
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/*Estilo para los conteos*/
.conteo, .conteo-riesgo-desc, .conteo-riesgo_no-desc,
.conteo-act-desc, .conteo-act-obs,
.conteo-act_cc-desc, .conteo-act_cc-obs > div {
    font-size: small;
    color: #cbcbcb;
    text-align: right;
}
.numeracion{
    font-size: x-large;
    color: #cbcbcb;
    text-align: center;
}
/*Estilo extra*/
a.cerrar {
    color: #dc3545 !important;
}
a:hover.cerrar {
    color: white !important;
}
input{
    overflow: hidden !important;
}