/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%
}
div.seccion{
    padding-left: 0px;
    margin-bottom: 20px !important;
    border-bottom: solid 1px #efefef;
}
div.seccion_boton{
    padding-left: 0.5% !important;
    padding-right: 0px !important;
    text-align: right;
}
div.seccion_boton > a {
    color: white !important;
    font-size: larger;
}
a.link-dark {
    color: white !important;
}
a:hover.link-dark {
    background: #343a40 !important;
    text-decoration: underline;
}
div.pie {
    text-align: center;
}
div.pie > a {
    color: #afafaf;
}