/*Estilo para el ordenamiento de las columnas*/
table tr th {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
th.link{
    cursor: auto !important;
}

/*Estilo paa el encabezado de la tabla, acorde con Bootstrap*/
.table .thead-info th {
    color: white !important;
    background-color: #17a2b8 !important;
    border-color: #67b9cc !important;
}
td.link {
    text-align: center;
}
td.link > a {
    color: #3c3c3c !important;
}
td.link > a > span {
    font-size: large;
}
td.link.texto > a:hover {
    text-decoration: underline !important;
}
td.link > a:hover {
    text-decoration: none !important;
}