@model SistemaCC.Models.ServiciosAplicaciones
@{
    ViewData["Title"] = "Crear";
    Layout = "./../Shared/_LayoutVacio.cshtml";
}
<div class="seccion col-md-12">
    <h1>Crear</h1>
</div>
@Html.BeginForm()
{
}

