@{
    ViewData["Title"] = "Ver";
    Layout = "./../Shared/_LayoutVacio.cshtml";
}
<div class="seccion-dark col-md-12">
    <h1>Información servicio/aplicación</h1>
</div>
<div id="principal">
    <div class="campos campos_dos">
        <div class="campos campos_dos">
            <div class="campos_ultimos">
                <label>Acrónimo:</label>
            </div>
            <div class="campos_ultimos">
                <div class="campo-ver">
                    @ViewBag.Modelo.Acronimo
                </div>
            </div>
        </div>
        <div class="campos campos_dos">
            <div class="campos_ultimos">
                <label>Dueño:</label>
            </div>
            <div class="campos_ultimos">
                <div class="campo-ver">
                   @ViewBag.Modelo.Usuario.Nombre
                </div>
            </div>
        </div>
    </div>
    <div class="campos campos_dos_kai">
        <div class="campos_ultimos">
            <label>Nombre:</label>
        </div>
        <div class="campos_ultimos" style="padding-left: 7%">
            <div class="campo-ver">
                @ViewBag.Modelo.Nombre
            </div>
        </div>
    </div>
    <div class="campos_ultimos">
        <label>Descripción:</label>
    </div>
    <div class="campos_ultimos">
        <div class="campo-ver">
            @ViewBag.Modelo.Descripcion
        </div>
    </div>
</div>

