@{
    ViewData["Title"] = "Autorizar";
}
<div class="col-md-12 seccion">
    <h1>Autorización</h1>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="campos campos_tres">
    @if (ViewData["Paso"] == "1")
    {
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="switch_aut" name="autorizacion" />
            <label class="custom-control-label" for="switch_aut">
                <span id="check_span" style="display:none">
                    Si autorizo el control de cambio
                </span>
                <span id="uncheck_span" class="text-danger">
                    No autorizo el control de cambio
                </span>
            </label>
        </div>
        <div class="campos campos_dos">
            <div class="campos_submit">
                <input class="btn btn-success" type="submit" value="Continuar" name="Paso1" />
            </div>
        </div>
    }
    @if (ViewData["Paso"] == "2")
    {
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="switch_aut" name="autorizacion" />
            <label class="custom-control-label" for="switch_aut">
                <span id="check_span" style="display:none">
                    Si autorizo el control de cambio
                </span>
                <span id="uncheck_span" class="text-danger">
                    No autorizo el control de cambio
                </span>
            </label>
        </div>
        <div class="campos campos_dos">
            <div class="campos_submit">
                <input class="btn btn-success" type="submit" value="Continuar" disabled />
            </div>
            <div class="campos_ultimos">
                <label>Código:</label>
            </div>
        </div>
        <div class="campos campos_dos">
            <div class="campos_ultimos">
                <input class="form-control" type="text" placeholder="codigo" />
            </div>
            <div class="campos_submit">
                <input class="btn btn-dark" type="submit" value="Validar" />
            </div>
        </div>
    }
</div>
}
@RenderPage("_SharedVer.cshtml")
@section Scripts
{
    <script>
        $(document).ready(function () {
            var check = document.getElementById("switch_aut")
            check.addEventListener("change", ocultarSpan, false)
            $(".fancybox-thumb").fancybox({
                prevEffect: 'none',
                nextEffect: 'none',
                helpers: {
                    title: {
                        type: 'outside'
                    },
                    thumbs: {
                        width: 50,
                        height: 50
                    }
                }
            });
        });
        $(document).ready(function () {
            $(".fancybox2").fancybox({
                fitToView: false,
                width: '100%',
                height: '600',
                autoSize: false,
                closeClick: false,
                openEffect: 'none',
                closeEffect: 'none',
                type: 'iframe'
            });
        });
        $(document).ready(function () {
            $(".fancybox").fancybox({
                prevEffect: 'none',
                nextEffect: 'none',
                helpers: {
                    title: {
                        type: 'outside'
                    },
                    thumbs: {
                        width: 50,
                        height: 25
                    }
                }
            });
        });
    </script>
}
