@model SistemaCC.ControlCambio
@{
    ViewData["Title"] = "Crear";
}
<div class="col-md-12 seccion">
    <h1>Nuevo control del cambio</h1>
</div>
<div class="accordion" id="accordionFormulario">
    <div class="card">
        <div class="card-header" id="Titulo1">
            <h2 class="mb-0">
                <button class="btn btn-collapse" type="button" data-toggle="collapse" data-target="#Section1" aria-expanded="true" aria-controls="Section1">
                    Collapsible Group Item #1
                </button>
            </h2>
        </div>
        <div id="Section1" class="collapse show" aria-labelledby="Titulo1" data-parent="#accordionFormulario">
            <div id="max_fila" class="card-body">
                <div class="col-md-12 contenedor_agregar">
                    <a id="boton_agregar" class="btn btn-success" href="#" onclick="agregar('0')">Agregar</a>
                </div>
                @Html.EditorFor(Model => Model.Titulo)
                <input type="submit" value="Res" />
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="Titulo2">
            <h2 class="mb-0">
                <button class="btn btn-collapse collapsed" type="button" data-toggle="collapse" data-target="#Seccion2" aria-expanded="false" aria-controls="Seccion2">
                    Collapsible Group Item #2
                </button>
            </h2>
        </div>
        <div id="Seccion2" class="collapse" aria-labelledby="Titulo2" data-parent="#accordionFormulario">
            <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="Titulo3">
            <h2 class="mb-0">
                <button class="btn btn-collapse collapsed" type="button" data-toggle="collapse" data-target="#Seccion3" aria-expanded="false" aria-controls="Seccion3">
                    Collapsible Group Item #3
                </button>
            </h2>
        </div>
        <div id="Seccion3" class="collapse" aria-labelledby="Titulo3" data-parent="#accordionFormulario">
            <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>
</div>

